@(stockItems: java.util.List[models.StockItem])

<!DOCTYPE html>

<html>
    <head>
        <title>Product overview</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
       <ul>
	    @for(stockItem <- stockItems) { 
	   	   <li>@stockItem.product.name (@stockItem.quantity)</li>
	    }
	  </ul>
    </body>
</html>

